@input-height: 42px;
:deep(.el-table) {
  flex:1;
  // --el-table-border-color: transparent;
  --el-table-border-color: rgb(var(--category-item-bg-color));;
  // --el-table-border: none;
  --el-table-text-color: var(--font-color-black);
  --el-table-header-text-color: var(--font-color-gray);
  // --el-table-row-hover-bg-color: rgba(var(--primary-color), 0.05);
  --el-table-row-hover-bg-color: rgb(var(--bg-card-color));
  --el-table-current-row-bg-color: rgb(var(--bg-card-color));
  --el-table-header-bg-color: rgb(var(--category-item-bg-color));
  --el-table-bg-color: rgb(var(--bg-card-color));
  --el-table-tr-bg-color: rgb(var(--bg-card-color));
  --el-table-expanded-cell-bg-color: rgb(var(--bg-card-color));
  .el-table__cell{
    padding: 14px 0;
    font-size: 14px;
  }
  &__header {
    height: 40px;
  }

  .el-checkbox {
    &__input {
      transform: scale(1.1);
    }
  }
}
:deep(.el-table__row) {
  position: relative;
  transition: all 0.2s ease-in-out;
  
  &:hover {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 4px;
      box-shadow: 0 0 0 1px rgba(var(--primary-color), 1),
                 0 1px 1px 0 rgba(var(--primary-color), 1);
      pointer-events: none;
      z-index: 999;
    }
  }
}
:deep(.el-textarea),
:deep(.el-input),
:deep(.el-select) {
  --el-input-bg-color: rgba(var(--bg-input-color), 0.6);
  --el-select-input-color: rgba(var(--bg-input-color), 0.6);
  --el-input-border-color: transparent;
  --el-select-border-color: transparent;
  --el-select-input-color: var(--font-color-black);
  --el-input-height:@input-height;

  &__wrapper {
    background: var(--el-input-bg-color);
    box-shadow: none;
    height: @input-height;
  }

  &__inner {
    color: var(--font-color-black);

    &::placeholder {
      color: var(--font-color-gray);
    }
  }

  &-group__append,
  &-group__prepend {
    background-color: rgba(var(--category-item-bg-color));
  }
}

:deep(.el-dropdown) {
  color: var(--font-color-black);
}

:deep(.el-drawer) {
  --el-drawer-bg-color: rgb(var(--bg-card-color));

  &__header {
    padding: 0;
    margin-bottom: 0;
  }

  &__body {
    padding: 0;
  }
}

:deep(.el-form-item__label) {
  color: var(--font-color-black);
  height: @input-height;
  align-items: center;
}

:deep(.el-pagination) {
  --el-pagination-button-bg-color: rgb(var(--border-color-gray));
}

:deep(.el-tabs) {
  &__nav {
    display: flex;
    align-items: center;
    padding: 8px 28px;

    &-prev,
    &-next {
      line-height: 56px;
    }
  }

  &__item {
    color: var(--font-color-black);
    font-size: 14px;
    font-weight: normal;
  }
}

:deep(.el-checkbox) {
  --el-checkbox-text-color: var(--font-color-black);
  &__input {
    transform: scale(1.1);
  }
}

:deep(.el-link) {
  --el-link-text-color: var(--font-color-black);
}

:deep(.el-breadcrumb) {
  &__item {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .el-breadcrumb__inner {
      color: var(--font-color-gray);
    }
    &:last-child {
      .el-breadcrumb__inner {
        color: var(--font-color-black);
        cursor: pointer;
      }
    }
  }
}

:deep(.el-upload) {
  &-dragger {
    height: 364px;
    background: rgba(var(--bg-input-color), 0.5);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
:deep(.el-dialog) {
  --el-dialog-bg-color: rgb(var(--bg-card-color));
  --el-dialog-header-bg-color: rgb(var(--category-item-bg-color));
  --el-dialog-title-text-color: var(--font-color-black);  
}
