
@font-face {
    font-family: "PingFang SC";
    /* Project id 3562502 */
    src: url('/static/typeface/PingFangSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "RammettoOne";
    /* Project id 3562502 */
    src: url('/static/typeface/RammettoOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "XS";
    /* Project id 3562502 */
    src: url('/static/typeface/XS.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins";
    src: url('/static/typeface/Poppins-Regular.ttf') format('truetype');
}