::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar:horizontal {
    height: 8px
}

::-webkit-scrollbar-track {
    border-radius: 999px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 999px;
    background: color-mix(in srgb, var(--text-tertiary) 30%, transparent);
    background-clip: padding-box;
    transition: background-color .2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: color-mix(in srgb, var(--text-tertiary) 55%, transparent);
    background-clip: padding-box;
}
