:root:root[class='light'] {
  --primary-color: #0958d9; // 主色（更深的蓝色）
  --bg-color: #f0f0f0; // 大面积色（更深）
  --warning-color: #f5222d; // 警戒色（更鲜艳的红色）
  --success-color: #389e0d; // 通过色（更深的绿色）
  --text-color: #434343; // 正文色（更深）
  --title-color: #1f1f1f; // 标题色（近黑）
  --text-tips-color: #787878; // 正文提示色（更深）
  --icon-color: #787878; // 图标色
  --assist-blue: #0958d9; // 辅助蓝色（加深）
  --disabled-color: #bfbfbf; // 不可点击色（更深）
  --assist-purple: #531dab; // 辅助紫色（更深）
  --card-bg-color: #ffffff; // 卡片背景色
  --border-color: #e3e3e3; // 边框色;
  --font-light-color: #ffffff; // 浅色文字
  --font-dark-color: #1f1f1f; // 深色文字
  --font-gray-color: #787878; // 灰色文字
}
